html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#mapfield {
	height: 100%;
	width: 100%;
}
#divimg {
	/*width: 300px;
	height: 300px;*/
}

#popupimg {
	width: 90%;
}

.spinner{
	width:10em;
}

#mediafeed{
	float: left; 
	width: 10%; 
	height: 90%; 
	overflow:scroll;
}

