html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#mapfield {
	height: 580px;
	width: 80%;
}
#divimg {
	/*width: 300px;
	height: 300px;*/
}

#tabs{
	width:75%;
}

#popupimg {
	width: 90%;
}

.spinner{
	width:10em;
}

#mediafeed{
	float: left; 
	width: 19%;
	height: 580px; 
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left:0%;
	padding-right:0%;
	border-color: black;
	border-style: solid;
	border-width: thin;
}

#dataform{
	float: right;
	position: absolute;
	top: 1%; 
	left: 77%;
	width:333px;
}

